.app_skills {
    flex: 1;
    width: 100%;
    flex-direction: column;
}

.app_skills-container {
    width: 80%;
    margin-top: 3rem;
    display: flex;
    flex-direction: row;
    @media screen and (max-width: 900px) {
        width: 100%;
        flex-direction: column;
    }

}

.app_skills-list {
    flex: 1;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: flex-start;
    margin-right: 5rem;
}

.app_skills-item {
    flex-direction: column;
    text-align: center;
    margin: 1rem;
    transition: all 0.3s ease-in-out;
    div {
        width: 85px;
        height: 85px;
        border-radius: 50%;
        img {
            width: 60%;
            height: 60%;
        }
        &:hover {
            box-shadow: 0 0 15px ;
        }
        @media screen  and (min-width: 2000px) {
            width: 150px;
            height: 150px;
        }
        @media screen and (max-width: 450px) {
            width: 50px;
            height: 50px;
            
        }
    }
    .p-text {
        text-align: center;
        @media screen and ( max-width: 450px) {
            font-size: 8px;
            
        }
    }
    p {
        font-weight: 600;
        margin-top: 0.6rem;
    }
    @media screen and (min-width: 2000px) {
        margin: 1rem 2rem;
        p {
            margin-top: 1rem;
        }
    }
}
.app_skills-exp {
    flex: 1;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
    @media screen and (max-width: 900px) {
        margin-top: 2rem;
    }
}

.app_skills-exp-item{
    width: 100%;
    display: flex;
    justify-content: flex-start;
    flex-direction: row;
    align-items: center;
    margin: 1rem 0;
}

.app_skills-exp-works {
    flex: 1;
    .app_skills-exp-work {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
        margin-bottom: 1rem;
        cursor: pointer;
        h4 {
            font-weight: 600;
        }
        p {
            font-weight: 600;
            color: gray;
            margin-top: 6px;
        }
        .p-desc {
            color: rgb(33, 139, 100);
            font-size: medium;
        }
    }
}

.app_skills-exp-year {
    margin-right: 3rem;
    p {
        font-weight: 900;
        color: tomato;
    }
    @media screen and (max-width: 450px) {
        margin-right: 1rem;
    }
}
