.app_navbar {
    background: rgba(255, 255, 255, 0.25);
    width: 100%;
    backdrop-filter: blur(4px);
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    border: 1px solid rgba(255, 255, 255, 0.18);
    padding: 1.2rem 2.2rem;
    -webkit-backdrop-filter: blur(4px);
    z-index: 2;
}

.app_navbar-logo {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    img {
        width: 50px;
        height: 55px;
        @media screen and (min-width: 2000px) {
            width: 60px;
            height: 60px;
        }
    }
}

.app_navbar-link{
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
    li {
        margin: 0 1rem;
        cursor: pointer;
        flex-direction: column;
        div {
            width: 5px;
            height: 5px;
            border-radius: 50%;
            margin-bottom: 5px;
            background: transparent;
        }
        a{
            color: grey;
            font-weight: 400;
            text-decoration: none;
            flex-direction: column;
            text-transform: uppercase;
            transition: all 0.5s ease-in-out;
            &:hover {
                color:  var(--secondary-color);
            }
        }
        &:hover {
            color: var(--secondary-color);
        }
        @media screen and (max-width:900px) {
            display: none;
        }
    }
}

.app_navbar-menu {
    width: 35px;
    height: 35px;
    border-radius: 50%;
    position: relative;
    background-color: tomato;
    display: flex;
    justify-content: center;
    align-items: center;
    svg {
        width: 70%;
        height: 70%;
        color: white;
        cursor: pointer;
    }
    div {
        position: fixed;
        top: 0;
        bottom: 0;
        right: 0;
        padding: 1rem;
        z-index: 5;
        width: 60%;
        height: 100vh;
        display: flex;
        justify-content: flex-end;
        align-items: flex-end;
        flex-direction: column;
        background-color: white;
        background: url("../../assets/background.png");
        background-size: cover;
        background-repeat: repeat;
        box-shadow: 0 0 20px rgba(169, 168 , 168, 0.15);
        svg {
            width: 35px;
            height: 35px;
            margin: 0.5rem 1rem;
            cursor: pointer;
            color: tomato;
        }
    
    ul {
        list-style: none;
        width: 100%;
        height: 100%;
        margin: 0;
        display: flex;
        padding: 0;
        justify-content: flex-start;
        align-items: flex-start;
        flex-direction: column;
        li {
            margin: 1rem;
            a {
                text-decoration: none;
                font-size: 1.1rem;
                color: gray;
                text-transform: uppercase;
                font-weight: 600;
                transition:  all 0.4s ease-in-out;
                &:hover {
                    color: var(--secondary-color);
                }
            }
        }
    }
    @media screen and (min-width:900px) {
        display: none;
    }
}
@media screen and (min-width:900px) {
    display: none;
 }
}