.app {
  background-color: var(--primary-color);
}

.app_flex {
  display: flex;
  justify-content: center;
  align-items: center;
}

.app_wrapper {
  flex: 1;
  width: 100%;
  flex-direction: column;
  padding: 4rem 2rem;
  @media screen and (max-width: 450px) {
    padding: 4rem 1rem 2rem;
  }
}

.p-text {
  font-size: 1rem;
  text-align: left;
  color: gray;
  line-height: 1.5;
}

.bold-text {
  font-size: 1.1rem;
  text-align: left;
  line-height: 1.5;
}

.head-text {
  font-size: 2.5rem;
  font-weight: 800;
  text-align: center;
  color: black;
  text-transform: capitalize;
}

.copyright {
  width: 100%;
  padding: 2rem 0 0;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-end;
  p{
   color: #ADBABD;
   font-weight: bold;
  }
}

.app_navigation {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 1rem;
  .app_navigation-dot {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: #cbcbcb ;
    margin: 0.4rem;
    transition: background-color 0.2s ease-in-out;
    &:hover {
      background-color: var(--secondary-color);
    }
    @media screen and (min-width: 2000px) {
      width: 20px;
      height: 20px;
    }
  }
}

.app_container {
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: row;
}

.app_social {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  flex-direction: column;
  padding: 1rem;
  div {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: white;
    margin: 0.25rem 0;
    border: 1px solid grey;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 0.3s ease-in-out;
    cursor: pointer;
    svg {
      width: 15px;
      height: 15px;
      color: tomato;
    }
    &:hover {
      border-color: var(--secondary-color);
      background-color: tomato;
      svg {
        color: white;
      }
    }
    @media screen and (min-width: 2000px) {
      width: 70px;
      height: 70px;
      margin: 0.5rem 0;
      svg {
        width: 30px;
        height: 30px;
      }
    }
  }
  
}

.head-text {
  font-size: 2.70rem;
  font-weight: 800;
  text-align: center;
  text-transform: capitalize;
  color: black;
  span {
    color: var(--secondary-color);
  }
}

@media screen and (max-width: 500px) {
  .app_navigation,
  .app_social {
      display: none;
  }
  .copyright {
      padding: 2rem;
  }
}